.hello{
    color:crimson
}
.yas{
    color:chartreuse
}
#wanth{
    color:chocolate
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar{
    width: 100px;
    height: 8rem;
    display: flex;
    box-shadow:
    1.5px 1.8px 2.2px rgba(0, 0, 0, 0.003),
    3.7px 4.3px 5.3px rgba(0, 0, 0, 0.004),
    6.9px 8px 10px rgba(0, 0, 0, 0.005),
    12.3px 14.3px 17.9px rgba(0, 0, 0, 0.006),
    23px 26.7px 33.4px rgba(0, 0, 0, 0.007),
    55px 64px 80px rgba(0, 0, 0, 0.01); 
}
.logo-container{
    width: 50%;
    padding: 1rem;
}
.nav-links{
    width: 50%;
    display: flex;
    padding: 1rem;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}
ul{
    list-style: none;
}
.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 2px solid burlywood;
    font-weight: bold;
    border-radius: 8px;
    color: burlywood;
}
.nav-items:hover{
    background-color: burlywood;
    border: 2px ;
}